/*                              *** BASE ***             */

* {
    box-sizing: border-box;
}
  
html {
    font-family: LatoRegular;
}
  
body {
    margin: 0;
    background-color: #22252C;	
}
  
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}
  
a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/*                              *** GALLERY - COMPONENTS ***             */

/*   HEADER */

.gradient-container {
    justify-content: space-between;
    width: 100vw;
    margin: 0;
    background: linear-gradient(to right, #0F9BB4 0%, #30BB72 100%);
}

.text-container {
    width: 60vw;
}

.logo {
    width: 150px;
    margin: 1rem;
}

.nav-bar a {
    display: none;
}

.btn-menu {
    align-self: center;
    background-color: #fff;
    color: #30BB72;
    font-size: 30px;
    border-radius: 50%;
    margin: 1rem;
}

/*   MAIN */

.main-container {
    width: 98vw;
}

.gallery-container {
    background-color: #383B42;
    margin: 20px;
    grid-template-columns: repeat(auto-fill, 200px);    
    grid-template-rows: 200px;
    gap: 20px 20px;
}

.gallery-container img {
    max-width: 200px;
    cursor: pointer;
}

/*   FOOTER */

footer {
    background-color: #000;
    width: 100vw;
    height: 100px;
    bottom: 0;
    position: fixed;
}

/*   meme-editor-MODAL */

canvas {
    background-color: #fff;
    width: 250px;
    height: 250px;
    margin: 20px 35px 10px;
    cursor: grab;
}

.meme-editor-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
    width: 320px;
    height: 560px;
    background-color: #22252C;
    border: 1px solid #4b4b4b;
    grid-template-columns: 320px;
    grid-template-rows: 280px 280px;
    transition: transform .6s;
}

body.modal-open .meme-editor-modal {
    transform: translate(-50%, -50%);
}

.canvas-container{
    background-image: url(../img/Forme.png);
    background-repeat: no-repeat;
    height: 560px;
}

.btn-close-modal {
    width: 40px;
    height: 40px;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.btn-close-modal:hover {
    background-color: rgb(250, 200, 200);
}

.canvas-controls {
    flex-direction: column;
    background-color: #383B42;
    width: 80%;
    border-radius: 4%;
    justify-self: center;
}

.canvas-controls button {
    font-size: 15px;
    border: 0;
    margin: 5px;
}

.lines-controls button, .text-controls button {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}

.canvas-controls button:hover {
    background-color: rgb(250, 200, 200);
}

.input-txt {
    margin: 5px;
    font-size: 20px;
    width: 200px;
}

.btn-switch-line {
    background-image: url(../icon/switch-row.png);
    background-color: lightblue;
}

.btn-add-line {
    background-image: url(../icon/add.png);
    background-color: lightgreen;
}

.btn-remove-line {
    background-image: url(../icon/trash.png);
    background-color: red;
}

.btn-font-increase {
    background-image: url(../icon/increase.png);
}

.btn-font-decrease {
    background-image: url(../icon/decrease.png);
}

.btn-save, .btn-share {
    width: 100px;
}

.file-controls a {
    background-color: red;
    color: white;
    font-size: 25px;
}

/* Cover Main-Screen */

.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .8s;
}

body.modal-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}

/*                              *** MEMES - COMPONENTS ***             */

/*   MAIN */

.memes-container {
    background-color: #383B42;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);    
    grid-template-rows: 200px;
    gap: 20px 20px;
}

.memes-container canvas {
    cursor: pointer;
}

.saved-meme-canvas {
    width: 200px;
    height: 200px;
    margin: 0;
}

/*   saved-memes-MODAL */

.saved-memes-modal {
    background-color: #fff;
    width: 400px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    background-color: #22252C;
    border: 1px solid #4b4b4b;
    grid-template-columns: 300px;
    grid-template-rows: 300px 200px;
    transition: transform .6s;
}

.buttons-container {
    grid-template-columns: 300px;
    grid-template-rows: 50px 50px 50px 50px;
}

body.saved-memes-modal-open .saved-memes-modal {
    transform: translate(-50%, -50%);
}

.saved-memes-modal-canvas {
    width: 300px;
    height: 300px;
    margin: 0;
}

/* Cover Memes-Main-Screen */

.memes-main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
    pointer-events: none;  
    opacity: 0;
    transition: opacity .8s;
}

body.saved-memes-modal-open .memes-main-screen {
    pointer-events: auto;
    opacity: 1;
}

/*                              *** HELPERS ***             */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*                              *** MEDIA QUERIES ***             */

/* SMALL-MEDIUM */

@media (min-width: 620px) {
    canvas {
        width: 400px;
        height: 400px;
        margin: 40px;
    }

    .gradient-container {
        justify-content: center;
        width: 98vw;
        border-radius: 10rem;
        margin: 10px;
    }

    .logo {
        width: 200px;
    }

    .nav-bar a {
        display: flex;
        padding: 10px;
        margin: 10px;
        color: white;
        font-size: 25px;
    }
    
    .nav-bar a:hovar {
        padding: 5px 20px;
        background-color: #fff;
        border-radius: 2rem;
        color: #26B187;
    }
    
    /* TODO: Check why don't work */
    .nav-bar a.active {
        padding: 5px 20px;
        background-color: #fff;
        border-radius: 2rem;
        color: #26B187;
    }

    .btn-menu {
        display: none;
    }

    .meme-editor-modal {
        width: 480px;
        grid-template-columns: 480px;
        grid-template-rows: 440px 300px;
    }

    .canvas-controls                    {
        margin-top: 40px;
        width: 90%;
    }

    .input-txt {
        margin: 10px;
        font-size: 30px;
        width: 300px;
    }
}

/* MEDIUM */

@media (min-width: 800px) {
    canvas {
        width: 400px;
        height: 400px;
        margin: 100px 20px;
    }
    
    .meme-editor-modal {
        width: 750px;
        height: 700px;
        grid-template-columns: 420px 330px;
        grid-template-rows: 700px;
    }

    .canvas-container{
        height: 700px;
    }

    .canvas-controls button {
        font-size: 30px;
    }
    
    .lines-controls button, .text-controls button {
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
    }

    .input-txt {
        width: 220px;
    }
}

/* LARGE */

@media (min-width: 1010px) {
    
    canvas {
        width: 500px;
        height: 500px;
        margin: 100px 20px;
    }

    .meme-editor-modal {
        width: 1000px;
        height: 700px;
        grid-template-columns: 540px 440px;
    }

    .canvas-controls                    {
        width: 100%;
    }

    .input-txt {
        width: 300px;
    }
}

/*    MAIN-SCREEN and MENU for SMALL */

@media (max-width: 900px) {

    .second-main-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
        transition: opacity .8s;
    }
    
    body.menu-open .second-main-screen {
        pointer-events: auto;
        opacity: 1;
    }

    .nav-bar {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        background: linear-gradient(to right, #0F9BB4 0%, #30BB72 100%);
        height: 50vh;
        border-left: 1px solid #797777;
        box-shadow: -2px 3px 10px rgb(233, 231, 231, .95);
        transform: translateX(100%);
        transition: transform .6s;
    }
    
    body.menu-open .nav-bar {
        transform: translateX(0);
    }

    .nav-bar > * {
        /* border-bottom: 1px solid #797777; */
        color: white;
    }

    .nav-bar a.active {
        max-width: 160px;
        margin: 30px 100px;
        padding: 5px 20px;
        background-color: #fff;
        border-radius: 2rem;
        color: #26B187;
    }

    .nav-bar a {
        display: block;
        text-align: center;
        font-size: 30px;
        transition: background-color .3s;
        max-width: 160px;
        margin: 30px 100px;
        padding: 5px 20px;
    }

    .nav-bar a:hover {
        max-width: 160px;
        margin: 30px 100px;
        padding: 5px 20px;
        background-color: #fff;
        border-radius: 2rem;
        color: #26B187;
    }
}