/*                              *** BASE ***             */

* {
    box-sizing: border-box;
}
  
html {
    font-family: LatoRegular;
}
  
body {
    margin: 0;
    background-color: #22252C;	
}
  
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}
  
a {
    text-decoration: none;
}

/*                              *** COMPONENTS ***             */

/*   HEADER */

.gradient-contaoner {
    width: 98vw;
    border-radius: 10rem;
    margin: 10px;
    background: linear-gradient(to right, #0F9BB4 0%, #30BB72 100%);
}

.text-container {
    width: 90vw;
}

.logo {
    width: 200px;
    margin: 1rem;
}

/*   MAIN */

.main-container {
    width: 98vw;
}

.gallery-container {
    background-color: #383B42;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);    
    grid-template-rows: 200px;
    gap: 20px 20px;
}

.gallery-container img {
    max-width: 200px;
    cursor: pointer;
}

/*   FOOTER */

footer {
    background-color: #000;
    width: 100vw;
    height: 100px;
    bottom: 0;
    position: fixed;
}

/*   meme-editor-MODAL */

canvas {
    background-color: #fff;
    margin: 40px;
}

.meme-editor-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 580px;
    height: 95vh;
    background-color: #22252C;
    border: 1px solid #4b4b4b;
    grid-template-columns: 540px;
    grid-template-rows: 540px 400px;
}

.canvas-container{
    background-image: url(../img/Forme.png);
    background-repeat: no-repeat;
}

.btn-close-modal {
    width: 40px;
    height: 40px;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.canvas-controls {
    flex-direction: column;
    background-color: #383B42;
    width: 80%;
    margin: 20px;
    border-radius: 4%;
    justify-self: center;
}

.canvas-controls button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: 0;
    margin: 5px;
}

.input-txt {
    margin: 10px;
    font-size: 30px;
}

.btn-switch-line {
    background-image: url(../icon/switch-row.png);
    background-size: 50px 50px;
}

.btn-add-line {
    background-image: url(../icon/add.png);
    background-size: 50px 50px;
}

.btn-remove-line {
    background-image: url(../icon/trash.png);
    background-size: 50px 50px;
}

.btn-font-increase {
    background-image: url(../icon/increase.png);
    background-size: 50px 50px;
}

.btn-font-decrease {
    background-image: url(../icon/decrease.png);
    background-size: 50px 50px;
}

/*                              *** HELPERS ***             */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*                              *** MEDIA QUERIES ***             */

/* MEDIUM */

@media (min-width: 800px) {
    .meme-editor-modal {
        /* width: 700px; */
    }

    canvas {
        width: 500px;
        height: 500px;
    }
}

/* LARGE */

@media (min-width: 1010px) {
    
    canvas {
        margin: 100px 20px;
    }

    .meme-editor-modal {
        width: 1000px;
        height: 700px;
        flex-wrap: no-wrap;
    }

    .canvas-container{
        height: 700px;
    }
}