@import "base.css";
@import "memes.css";

/*                              *** GALLERY - COMPONENTS ***             */

/*   HEADER */

.gradient-container {
    justify-content: space-between;
    width: 100vw;
    margin: 0;
    background: linear-gradient(to right, #0F9BB4 0%, #30BB72 100%);
}

.text-container {
    width: 60vw;
}

.logo {
    width: 150px;
    margin: 1rem;
}

.nav-bar a {
    display: none;
}

.btn-menu {
    align-self: center;
    background-color: #fff;
    color: #30BB72;
    font-size: 30px;
    border-radius: 50%;
    margin: 1rem;
}

/*   MAIN */

.main-container {
    width: 98vw;
}

.img-controls-container {
    background-color: #383B42;
    margin: 20px;
    border-radius: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-search {
    background-color: #22252C;
    border-radius: 2rem;
    font-size: 20px;
    padding: 5px;
    margin: 10px 10px 0 10px;
    color: rgb(180, 166, 166);
}

.filters {
    background-color: rgb(138, 138, 138);
    width: 500px;
    border-radius: 30px;
    margin: 5px;
    padding: 0 0 0 8px;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 48px;
}

.filters a{
    color: white;
    padding: 0;
}

.img-upload {
    background-image: url(../icon/upload.png);
    background-size: 80px;
    width: 80px;
    height: 32px;
    margin: 3px;
}

.share-container {
    display: flex;
}


.main-container {
    flex-direction: column;
    justify-content: space-between;
}

.gallery-container {
    background-color: #383B42;
    margin: 0 20px 20px 20px;
    padding-top: 20px;
    grid-template-columns: repeat(auto-fill, 120px);    
    grid-template-rows: 120px;
    gap: 20px 20px;
    border-radius: 10px;
}

.img-container {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 10px;
}

.img-container img {
    max-width: 100%;
}

.img-container:hover img{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.img-cover {
    width: 100%;
    min-height: 100%;
    transform: translateY(-105%);
    border-radius: 10px;
    cursor: pointer;
}

.img-cover:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
}

/*   FOOTER */

footer {
    color: white;
    background-color: #000;
    width: 100vw;
    height: 50px;
    bottom: 0;
    position: fixed;
    justify-content: center;
}

.copyright {
    position: bottom;
}

/*   meme-editor-MODAL */

canvas {
    background-color: #fff;
 
    margin: 20px 35px 10px;
    cursor: grab;
}

.meme-editor-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    width: 320px;
    height: 560px;
    background-color: #22252C;
    border: 1px solid #4b4b4b;
    grid-template-columns: 320px;
    grid-template-rows: 280px 280px;
    transition: transform .6s;
}

body.modal-open .meme-editor-modal {
    transform: translate(-50%, -50%);
}

.canvas-container{
    background-image: url(../img/Forme.png);
    background-repeat: no-repeat;
    height: 560px;
}

.btn-close-modal {
    width: 40px;
    height: 40px;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.btn-close-modal:hover {
    background-color: rgb(250, 200, 200);
}

.canvas-controls {
    flex-direction: column;
    background-color: #383B42;
    width: 80%;
    border-radius: 4%;
    justify-self: center;
}

.canvas-controls button {
    font-size: 15px;
    border: 0;
    margin: 5px 5px;
    background-color: rgba(255, 255, 255, 0);
}


.text-controls {
    background: #0F9BB4;
    border-radius: 10px;
    padding: 0 10px 10px;
    margin: 5px;
    grid-template-columns: 50px 50px 50px 50px;    
    grid-template-rows: 20px 10px 30px;
    gap: 5px 10px;
}

.lines-controls button, .text-controls button {
    background-size: 30px;
    width: 30px;
    height: 30px;
}

.input-txt {
    margin: 2px;
    padding: 0 15px 0;
    font-size: 20px;
    width: 200px;
    border-radius: 30px;
    background: lightgray;
    box-shadow: 0 2px 0 rgba(179, 177, 177, 0.95);
}

.btn-switch-line {
    background-image: url(../icon/switch-row.png);
}

.btn-add-line {
    background-image: url(../icon/add.png);
    
}

.btn-remove-line {
    background-image: url(../icon/trash.png);
}

.btn-font-increase {
    background-image: url(../icon/increase.png);
    grid-column: 1;
    grid-row: 1;
}

.btn-font-decrease {
    background-image: url(../icon/decrease.png);
    grid-column: 2;
    grid-row: 1;
}

.img-fill-color {
    margin: 5px;
    width: 30px;
    height: 30px;
    grid-column: 3;
    grid-row: 1;
}

.fill-color {
    opacity: 0;
    grid-column: 3;
    grid-row: 2;
}

.img-stroke-color {
    margin: 5px;
    width: 30px;
    height: 30px;
    grid-column: 4;
    grid-row: 1;
}

.stroke-color {
    opacity: 0;
    grid-column: 4;
    grid-row: 2;
}

.btn-row-up {
    background-image: url(../icon/up.png);
    grid-column: 3;
    grid-row: 3;
}

.btn-row-down {
    background-image: url(../icon/down.png);
    grid-column: 2;
    grid-row: 3;
}

.btn-row-left {
    background-image: url(../icon/left.png);
    grid-column: 1;
    grid-row: 3;
}

.btn-row-right {
    background-image: url(../icon/right.png);
    grid-column: 4;
    grid-row: 3;
}

.file-controls {
    flex-direction: column;
}

.file-controls button, .file-controls a {
    margin: 1px;
    background-size: 95px;
    width: 95px;
    height: 38px;
}

form {
    height: 38px;
}

.btn-save {
    background-image: url(../icon/save.png);
}

.btn-share {
    background-image: url(../icon/share.png);
}

.download-link {
    background-image: url(../icon/download.png);
    margin-inline-start: 5px;
}

/* Cover Main-Screen */

.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .8s;
}

body.modal-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}

/*                              *** SMALL MODAL - alert meme saved ***             */

.modal-alert {
    display: none;
    width: 300px;
    height: 150px;
    background-color: rgba(211, 211, 211, 0.918);
    border:1px solid rgba(0, 0, 0, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*                              *** MEDIA QUERIES ***             */

/* SMALL-MEDIUM */

@media (min-width: 620px) {
    canvas {
 
        margin: 40px;
    }

    .gradient-container {
        justify-content: center;
        width: 98vw;
        border-radius: 10rem;
        margin: 10px;
    }

    .logo {
        width: 200px;
    }

    .nav-bar a {
        display: flex;
        padding: 10px;
        margin: 10px;
        color: white;
        font-size: 25px;
    }
    
    .nav-bar a:hovar {
        padding: 5px 20px;
        background-color: #fff;
        border-radius: 2rem;
        color: #26B187;
    }
    
    /* TODO: Check why don't work */
    .nav-bar a.active {
        padding: 5px 20px;
        background-color: #fff;
        border-radius: 2rem;
        color: #26B187;
    }

    .btn-menu {
        display: none;
    }

    .filters {
        margin: 10px;
    }

    .img-upload {
        background-size: 120px;
        width: 120px;
        height: 48px;
        margin: 10px;
    }

    .gallery-container {
        grid-template-columns: repeat(auto-fill, 200px);    
        grid-template-rows: 200px;
        padding: 20px;
    }

    .img-container {
        width: 200px;
        height: 200px;
    }
    
    .img-container img {
        max-width: 200px;
    }

    .img-cover {
        transform: translateY(-103%);
    }

    .meme-editor-modal {
        width: 480px;
        grid-template-columns: 480px;
        grid-template-rows: 440px 300px;
    }

    .input-txt {
        margin: 10px;
        font-size: 30px;
        width: 300px;
    }
}

/* MEDIUM */

@media (min-width: 800px) {
    canvas {
        margin: 100px 20px;
    }
    
    .input-search {
        margin: 10px;
    }

    .meme-editor-modal {
        width: 750px;
        height: 700px;
        grid-template-columns: 420px 330px;
        grid-template-rows: 700px;
    }

    .canvas-container{
        height: 700px;
    }

    .canvas-controls                    {
        margin: 100px 0 100px;
        width: 90%;
    }

    .canvas-controls button {
        font-size: 30px;
    }
    
    .lines-controls {
        padding: 5px 10px 7px;
        margin: 10px;
    }

    .text-controls {
        padding: 10px 20px 25px 10px;
        margin: 30px 10px;
        grid-template-columns: 50px 50px 50px 50px;    
        grid-template-rows: 20px 30px 50px;
        gap: 10px 15px;
    }

    .lines-controls button, .text-controls button {
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
    }

    .input-txt {
        width: 220px;
        padding: 10px 20px;
        margin: 30px 20px 25px;
    }

    .img-fill-color {
        width: 50px;
        height: 50px;
    }
    
    .img-stroke-color {
        width: 50px;
        height: 50px;
    }  

    .file-controls button, .file-controls a {
        background-size: 80px;
        width: 80px;
        height: 32px;
        margin: 5px;
    }

    .file-controls {
        flex-direction: row;
    }
}

/* LARGE */

@media (min-width: 1010px) {
    
    canvas {
        margin: 100px 20px;
    }

    .meme-editor-modal {
        width: 1000px;
        height: 700px;
        grid-template-columns: 540px 440px;
    }

    .canvas-controls                    {
        width: 100%;
    }

    .input-txt {
        width: 350px;
    }

    .text-controls {
        gap: 10px 40px;
    }

    .file-controls button, .file-controls a {
        background-size: 100px;
        width: 100px;
        height: 40px;
        margin: 10px;
    }
}

/*    MAIN-SCREEN and MENU for SMALL */

@media (max-width: 620px) {

    .second-main-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
        transition: opacity .8s;
    }
    
    body.menu-open .second-main-screen {
        pointer-events: auto;
        opacity: 1;
    }

    .nav-bar {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        background: linear-gradient(to right, #0F9BB4 0%, #30BB72 100%);
        height: 50vh;
        border-left: 1px solid #797777;
        box-shadow: -2px 3px 10px rgb(233, 231, 231, .95);
        transform: translateX(100%);
        transition: transform .6s;
    }
    
    body.menu-open .nav-bar {
        transform: translateX(0);
    }

    .nav-bar > * {
        /* border-bottom: 1px solid #797777; */
        color: white;
    }

    .nav-bar a.active {
        max-width: 160px;
        margin: 30px 100px;
        padding: 5px 20px;
        background-color: #fff;
        border-radius: 2rem;
        color: #26B187;
    }

    .nav-bar a {
        display: block;
        text-align: center;
        font-size: 30px;
        transition: background-color .3s;
        max-width: 160px;
        margin: 30px 100px;
        padding: 5px 20px;
    }

    .nav-bar a:hover {
        max-width: 160px;
        margin: 30px 100px;
        padding: 5px 20px;
        background-color: #fff;
        border-radius: 2rem;
        color: #26B187;
    }
}